.homepage {
  width:100%
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.header-title {
  width: 100%;
  margin-left: 20px;
}

.img-logo {
  width: 100%;
}

.header-list {
  display: flex;
  font-weight: bold;
  list-style: none;
  color: #d3d3d3;
}

.header-item {
  margin-right: 20px; 
}

.firstview {
  z-index: 10;
}
.firstview-title {
  position: relative;
  top: 30px;
  bottom: 10px;
  color: #C71585;
}

.firstview-title_2 {
  color: #20b2aa
}

.flex { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.firstview-title-top {
  position: relative;
  top: 10px;
  color: #C71585;
}

.firstview-title-top_2 {
  color: #20b2aa;
}

.firstview-title-bottom {
  position: relative;
  bottom: 50px;
  color: #d3d3d3;
}

.img-container_firstview {
  width: 100%;
  position: absolute;

}
.relative-img {
  width: 100%;
  position: relative;
  top: 80px;
  bottom: 80px;
  text-align: right;
  z-index: 10;
}




.flex { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-ttl {
  color: black;
  font-size: 50px;
  position: absolute;
  top: 285px;
  bottom: 285px;
  text-align: justify;
}

.absolute-blue-box {
  width: 60%;
  height: 20%;
  position: absolute;
  top: 400px;
  bottom: 400px;
  z-index: 0;
  background-color: #00008b;
}


